* {
  margin: 0px;
  padding: 0px;
}

body {
    background: white;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: helvetica, arial;
    font-size: 14px;
    margin: 0;
}

section {
    background-color:  white;
}

header {
    background: #F6E3CE;
    text-align: center;
}

article {
    background: #D3AD97;
    color: #444;
    padding: 1rem;
}

footer {
    background: #B0A198;
    padding: 1rem;
    text-align: left;
}

p {
    font-size: 1.4em;
    text-align: center;
}

.box {
  font-size: 1.5em;
  text-align: center;
}

.encabezado, .contenido, .contenido-lateral, .pie-pagina {
  padding: 1em 2em;
}

.contenido, .contenido-lateral, .pie-pagina {
  float: left;
  box-sizing: border-box;
}

.encabezado{
  background: #2E9AFE;
  height: 100px;
}

.contenido {
  width: 60%;
}

.contenido-lateral {
  width: 40%;
  background: #5858FA;
  height: 500px;
}

.post {
  background: #A9D0F5;
  height: 100px;
  margin-bottom: 1em;
}

.pie-pagina {
  width: 100%;
  background: #0431B4;
  height: 50px;
}

@media screen and (min-width: 780px) and (max-width: 1024px){
  .encabezado{
    background: #FE2E2E;
  }

  .contenido{
    width: 50%;
  }

  .contenido-lateral{
    background: #FF4000;
    width: 50%;
  }

  .post{
    background: #F78181;
  }

  .pie-pagina{
    background: #FF0000;
  }
}

@media screen and (min-width: 480px) and (max-width: 780px){
  .encabezado{
    background: #00FF00;
  }

  .contenido{
    width: 100%;
  }

  .contenido-lateral{
    background: #2EFE9A;
    width: 100%;
  }

  .post{
    background: #81F7BE;
  }

  .pie-pagina{
    background: #04B404;
  }
}
@media screen and (max-width: 480px){
  .encabezado{
    background: #FFFF00;
    height: 80px;
  }

  .contenido{
    width: 100%;
  }

  .contenido-lateral{
    background: #F3F781;
    width: 100%;
  }

  .post{
    background: #F3F781;
  }

  .pie-pagina{
    background: #AEB404;
  }
}