* {
  margin: 0px;
  padding: 0px;
}

body {
    background: white;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: helvetica, arial;
    font-size: 14px;
    margin: 0px;
}

section {
    background: #D3AD97;
}

header {
    background: #F6E3CE;
    text-align: center;
}

article {
    background: #D3AD97;
    color: #444;
    padding: 1rem;
}

footer {
    background: #B0A198;
    padding: 1rem;
    text-align: left;
}

p {
    font-size: 1.4em;
    text-align: center;
}

.box {
  font-size: 1.5em;
  text-align: center;
}

.contenedor {
  background-color: red;
  width: 80%;
  height: 1000px;
  margin: 0auto;
  padding: 1em;
}
.columna {
  background-color: white;
  height: 30px;
  margin-bottom: 1em;
}

.primera {width: 100%;}
.segunda {width: 50%;}
.tercera {width: 25%;}
.cuarta {width: 75%;}
.quinta {width: 10%;}
